body{
    background-image: url(../images/background.gif);
    background-size: auto;
}

table {
    border-radius: 20px;
    border: 10px double black;
    padding-bottom: 15px;
    box-shadow: 10px 10px 5px black;
    font-family: 'Titillium Web', sans-serif;
    background-image: url(../images/background);
    background-size: contain;
}

button {
    background-image: url(../images/button.gif);
    background-size: contain;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    padding: 22px 30px;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
    margin: 5px 5px;
    border-radius: 50px;
    box-shadow: 0 9px #999;
}

button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#clear:active{
    background-image: url(../images/explosion.gif);
    background-size: contain;
}

p {
    border: 5px inset black;
    border-radius: 20px; 
    padding-right: 15px;
    color: white;
    font-size: 30px;
    width: 640px;
    overflow: hidden;
}


h1{
    text-align: center;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}







